:root{
    --colorgr:#00ff41;
    --colorpi:#ff00ff;
}

*{
    background: black;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:25px;
    background-color: black;

}
header h{
    color: #ff00ff;
    font-size: 32px;
}
header a{
    color: white;
    font-size: 32px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height:48px;
    width:80px;
    background-color: #ff00ff;
    color: black;
    font-size: 1.25rem;
    font-family: "Archivo Black", sans-serif;;
    border-radius: 5px;
}
.btn:hover{
    height:56px;
    width:88px;
    background-color: #00ff41;
    color: black;
    font-size: 1.5rem;
    border-radius: 5px;
    transition-duration: 0.5s;
}
header a:hover{
    color: #00ff41;
    font-size: 32px;
    transition-duration: 0.5s;

}
.taskbar{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 3rem;
}
.heropage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 104px;
}
.aim{
    font-size: 56px;
}
.subaim{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Archivo Black", sans-serif;
}
.green{
    color: #00ff41;
}
.pink{
    color: #ff00ff;
}
.white{
    color: white;
}
.vision{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:1rem;
    font-family: "roboto";
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2rem;
    gap:1rem

}
    

.shop{
    height: 60px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff00ff;
    color:black
}
.shop:hover{
    background-color: #00ff41;
    transition-duration: 0.5s;
}
.story{
    height: 60px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #00ff41;
    color:white;
}
.story:hover{
    background-color: #ff00ff;
    transition-duration:0.5s;
    border: 1px solid #ff00ff;
    color: black;
}
.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.optionpath{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.by{
    color: white;
}
.gory{
    color: #ff00ff;
}
.descr{
    color:grey;
}
.catcards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 88px;
    height:320px;
    width:100%;
}
.semicard{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height:320px;
    width:240px;
}
.semicard:hover{
    border: 3px solid white;
    border-radius: 15px;
    padding:20px;
}
.semicard:hover .symbol{
    transform:translateX(7rem);
    transition-duration: 0.5s;
}
.semicard:hover .dress{
    color: #ff00ff;
    transition-duration: 0.5s;
}
.semicard:hover .motive{
    font-size: 1.5rem;
}
.semicard:hover .link{
    color: #ff00ff;
    transition-duration: 0.5s;
}
.semicard:hover .link i{
    color: #ff00ff;
    margin-left: 10px;
    transition-duration: 0.5s;
}
.semicard:hover .symbol{
    font-size:2rem; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.dress{
    font-size: 1.5rem;
    color:white;
}
.motive{
    font-size:0.70rem;
    color:white
}
.link{
    font-size:1rem;
    color:white;
}
.foot{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
}
.end{
    display: flex;
    flex-direction: row;
}

.foot h4,
h5{
    color:white;
}
.subfoot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.subfoot a,
p{
    color: grey;
}
.place{
    margin-bottom: 60px;
}
.subfoot a:hover{
    color: #00ff41;
}

footer{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:16px;
    margin-top:8px;
    margin-bottom:8px;
    color: grey;
}